/* styles.css */

html {
	background-color: goldenrod;
	background-image:
		linear-gradient(goldenrod, forestgreen);
}

h1 {
	font-family: Arial;
	color: hotpink;
	font-size: 220px;
	letter-spacing: 10px;
}

.red {
	color: red;
	font-size: 60px;
	font-weight: bold;
	transform: rotate(25deg);
}
