/* styles.css */

html {
	/* background-color: goldenrod;
	background-image:
		linear-gradient(goldenrod, forestgreen); */
}

h1 {
	font-family: Arial;
	color: hotpink;
	font-size: 220px;
	letter-spacing: 10px;
}

.header-txt {
	font-family: 'Helvetica';
	font-style: normal;
	/* text-align: right; */
	color: #FF0000;
	/* Inside auto layout */
	/* flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0; */
}

.red {
	color: red;
	font-size: 60px;
	font-weight: bold;
	transform: rotate(25deg);
}

.color-header {
	font-family: 'Verdana';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 64px;
	background: linear-gradient(90deg, #FF0000 -11.42%, #FFD500 23.16%, #07DB00 67.36%, #0000FF 118.11%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.color-txt {
	font-family: 'Hammersmith One';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	/* Inside auto layout */
	/* flex: none;
	order: 0;
	flex-grow: 0; */
}

.readable-txt {
	font-family: 'Cambay';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 42px;
	color: white;
}

.readable-txt-2 {
	font-family: 'Papyrus', fantasy;
	font-size: 24px;
	line-height: 44px;
	position: absolute;
	font-weight: 600;
	z-index: 1;
}

.have-fun {
	font-family: 'Monaco', monospace;
	font-size: 27px;
	color: #F527F2;
	font-weight: 400;
	line-height: 50px;
}

.container {
	width: 200px;
	height: 550px;
}

.container img {
	width: 100%;
	height: auto;
}
